body {
    background:#524763 url('../img/cat.jpeg') no-repeat;
    margin:0;
}
h1 {
    font-size: 33px;
}
.nav {
    list-style: none;
    padding: 0;
}
.nav li {
    display: inline;
}
p {
    font-size:14px
}
.wrapper {
    margin: 50px 100px;
    background-color: white;
    height: 400px;
}
.wrapper a:hover {
   background: red;
   text-decoration: underline
}
.wrapper a:active {
    background: blue;
 }

